[Unit]
Description=DRLM Proxy Service
After=drlm-stord.service

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/sbin/drlm-proxy

[Install]
WantedBy=multi-user.target

