[Unit]
Description=DRLM RSYNC Service
After=drlm-api.service

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/rsync --daemon --config=/etc/drlm/rsyncd/rsyncd.conf

[Install]
WantedBy=multi-user.target

