Source: drlm
Section: misc
Priority: optional
Maintainer: See AUTHORS file
Homepage: "http://drlm.org"

Package: drlm
Architecture: all
Provides: drlm
Build-Depends: debhelper (>> 5.0.0)
Depends: openssh-client, openssl, gzip, tar, gawk, sed, grep, coreutils, util-linux, nfs-kernel-server, rpcbind, isc-dhcp-server, tftpd-hpa, qemu-utils, sqlite3, lsb-release, ${shlibs:Depends}, ${misc:Depends}
Description: Disaster Recovery Linux Manager
