#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=12

build: build-stamp
build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_clean

# Build architecture-independent files here.
binary-indep: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# The DESTDIR Has To Be Exactly debian/drlm
	mkdir -vp \
		debian/drlm/DEBIAN/ \
		debian/drlm/etc/ \
		debian/drlm/usr/sbin/ \
		debian/drlm/usr/share/ \
		debian/drlm/var/lib/drlm/ \
		debian/drlm/usr/share/man/man8/ \
		debian/drlm/var/log/drlm/ \
		debian/drlm/var/log/drlm/rear/

	# copy drlm components into directories
	cp -av etc/drlm debian/drlm/etc/
	cp -av etc/cron.d debian/drlm/etc/
	cp -av etc/bash_completion.d debian/drlm/etc/
	cp -av etc/logrotate.d debian/drlm/etc/
	cp -av usr/sbin/. debian/drlm/usr/sbin/
	cp -av usr/share/drlm debian/drlm/usr/share/
	cp -av var/lib/drlm debian/drlm/var/lib/
	cp -av doc/drlm.8 debian/drlm/usr/share/man/man8/

	#Install pre/post inst/rm scripts
	install -Dp -m0755 packaging/debian/preinst debian/drlm/DEBIAN/preinst
	install -Dp -m0755 packaging/debian/prerm debian/drlm/DEBIAN/prerm
	install -Dp -m0755 packaging/debian/postinst debian/drlm/DEBIAN/postinst
	install -Dp -m0755 packaging/debian/postrm debian/drlm/DEBIAN/postrm
	install -Dp -m0644 packaging/debian/conffiles debian/drlm/DEBIAN/conffiles
	install -Dp -m0644 packaging/debian/control debian/drlm/DEBIAN/control

	# patch drlm main script with correct locations for drlm components
	sed -i  \
		-e 's#^CONFIG_DIR=.*#CONFIG_DIR="/etc/drlm"#' \
		-e 's#^SHARE_DIR=.*#SHARE_DIR="/usr/share/drlm"#' \
		-e 's#^VAR_DIR=.*#VAR_DIR="/var/lib/drlm"#' \
		debian/drlm/usr/sbin/drlm

	# update man page with correct locations
	install -Dp -m0644 doc/drlm.8 debian/drlm/usr/share/man/man8/drlm.8
	sed -i \
		-e 's#/usr/share/doc/packages#/usr/share/doc#' \
		debian/drlm/usr/share/man/man8/drlm.8

	# --- end custom part for installing

	dh_installdocs README.rst
	dh_installchangelogs
	find debian/drlm -name ".git*" -exec rm {} \;
	dh_link
	dh_strip
	dh_fixperms
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary
