group {
	site-option-space "pxelinux";
	option pxelinux.magic f1:00:74:7e;
	if exists dhcp-parameter-request-list {
		option dhcp-parameter-request-list = concat(option dhcp-parameter-request-list,d0,d1,d2,d3);
	}

	option pxelinux.configfile = concat("pxelinux.cfg/", binary-to-ascii(16, 8, ":", hardware));
	filename "pxelinux.0";
	
